@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Who are we?</h3>

<p>We are a small news agency group in Myanmar that is trying to make a website that have no bias due to the political correctness that is going around on the internet and in the real world. </p>

<h3>How was it made?</h3>
<p>
    The group was made by a small tech savy people who are interested in the news and the media in the general. Like how the news articles are sometime unreasonably bias and we are the one that
</p>
<h3>How do you find these articles?</h3>
<p>
    We are actually reading web forumns everyday and looking to social meida and checking the news websites what articles are coming out. We kind of skim the articles and post one that we think are a necessary for the people to know.
</p>
<h3>Why is most of the news word passage small?</h3>
<p>
    As many words can make the word jumble, and it will not be simple way and that foolish to act smart. <br/>As we go by the following saying <br />
</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;"Simplicity achieve goals fast".</p>

<p>Well, I hope you know a little of us now. We are just a small group who are trying to bring news everyday because there will always be news if there is a tommorrow.</p>

<div>&nbsp;&nbsp;&nbsp;<img src="~/Image/j.jpg" width="400" height="300"/></div>