@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    42(B),7(A),New University Avenue<br />
    Bahan,Yangon<br />
    <abbr title="Phone">P:</abbr>
    09-5032565.
</address>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d954.7673191316412!2d96.15639882919912!3d16.822918999276208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTbCsDQ5JzIyLjUiTiA5NsKwMDknMjUuMCJF!5e0!3m2!1sen!2smm!4v1550994698010" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
<address>
    <strong>Email:</strong>   <a href="mailto:uchiha.madara090@gmail.com">uchiha.madara090@gmail.com</a><br />
</address>