@{
    ViewBag.Title = "Home Page";
}



<body>
    <div class="jumbotron" style="text-align:center;background-image:url('../Image/graypaper.png');background-repeat:no-repeat;width:100%;height:300px">
        <h1>WEBNET</h1>
        <p class="lead">There are good news and bad news and we bring you the truth.</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>News</h2>
            <p>
                Check out the last news for today. There are always news to tell.
            </p>
            <p>
                <a class="btn btn-default" href="http://localhost:56794/Blog">Learn more &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>About Us</h2>
            <p>The about us page will tell you about how this website have been made.</p>
            <p><a class="btn btn-default" href="http://localhost:56794/Home/About">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Contact Us</h2>
            <p>You can check out our location at Contact Us for your technical problems and support.</p>
            <p><a class="btn btn-default" href="http://localhost:56794/Contact">Learn more &raquo;</a></p>
        </div>
    </div>

</body>